@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.button.button-white {
    box-shadow: 3px 3px 0 -1px #fff, 3px 3px 0 #fff;
}

.stack-sm {
    box-shadow: 10px 10px 0 -1px #fff, 10px 10px 0 #191a1b;
}

.stack-gray {
    box-shadow: 10px 10px 0 -1px #656563, 10px 10px 0 #191a1b;
}

.stack-gold {
    box-shadow: 10px 10px 0 -1px #866b0a, 10px 10px 0 #191a1b;
}

.bg-paper-tear {
    background: transparent url('https://statamic.com/img/branding/paper-tear.png') top repeat-x;
    background-size: 1280px;
    height: 182px;
    width: 100%;
}

.flip-y {
    --tw-scale-y: -1;
}

.flip-x, .flip-y {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.text-mint {
    color: rgb(184 255 243/var(--tw-text-opacity))!important;
}
